#root {
  margin: 0;
  padding: 20px;
  text-align: start;
}

p {
  margin-top: 0;
  padding-top: 0;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: start;
}

.info h1 {
  margin-top: 0;
}

.score-container {
  justify-self: end;
  text-align: end;
}

.score-container h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.score-alert {
  animation: scoreAlert 1s ease-in-out;
}

@keyframes scoreAlert {
  0% {
    transform: scale(1);
  }
  50% {
    transform: translate(-100%, 100%) scale(2);
  }
  100% {
    transform: scale(1);
  }
}